.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-md) var(--space-xl);
  background-color: var(--color-primary);
  color: var(--white);
  font-weight: 700;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}
