.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--space-lg) var(--space-xl);
  gap: var(--space-lg);
}

.main > * {
  flex: 1;
  padding: var(--space-lg);
  border: 0.125rem solid var(--color-tertiary);
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }
}
